<h3>Profile</h3>
<%= @profile.username %>

<br><br>

<h2>Inviter</h2>
<br>
<%= @profile.user.invite.inviter.email %>

<br><br>

<h2>Invites</h2>
<br>
You have
<%= @invites_left %>
invites left

<br><br>

<% if @invite %>
  <h2>Invite a friend</h2>
  <br>
  <%= render 'invites/form', invite: @invite %>
  <br><br>

  <% @invites.each do |invite| %>
    <%= invite.to_json %>
    <br><br>
  <% end %>
<% end %>

<%= link_to "Edit", edit_profile_path(@profile) %>