<div id="<%= dom_id pin %>">
  <%= image_tag pin.pin_image.url, width: 300 if pin.pin_image.url %>

  <%= pin.user.email %>

  <p>
    <%= pin.description %>
  </p>

  <h3>Tags</h3>
  <div>
    <% pin.tag_list.each do |tag| %>
      <div>
        <%= tag %>
      </div>
    <% end %>
  </div>

  <h3>Categories</h3>
  <div>
    <% pin.category_list.each do |tag| %>
      <div>
        <%= tag %>
      </div>
    <% end %>
  </div>

</div>
