<p style="color: green"><%= notice %></p>

<h1><%= title "Пины" %></h1>

<h3>Categories</h3>
<% Pin.tag_counts_on(:categories).each do |tag| %>
  <div>
    <%= link_to tagged_pins_path(tag.name) do %>
      <%= tag.name %> (<%= tag.taggings_count %>)
    <% end %>
  </div>
<% end %>

<h3>Tags</h3>
<% Pin.tag_counts_on(:tags).each do |tag| %>
  <div>
    <%= link_to tagged_pins_path(tag.name) do %>
      <%= tag.name %> (<%= tag.taggings_count %>)
    <% end %>
  </div>
<% end %>

<br><br>

<% if can? :create, Pin %>
  <%= link_to "New pin", new_pin_path %>
<% end %>

<div id="pins">
  <% @pins.each do |pin| %>
  <%#= pin_url(pin.title.parameterize) %>
    <%= link_to pin, class: 'pinCard' do %>
      <%= render pin %>
    <% end %>
  <% end %>
</div>
