<p style="color: green"><%= notice %></p>

<h1><%= title @pin.title %></h1>

<%= render @pin %>

<h3>PolyComments</h3>

<%= render "poly_comments/form", commentable: @pin, poly_comment: PolyComment.new %>
<%= render @pin.poly_comments %>

<h3>Comments</h3>

<%= turbo_frame_tag :comment_form do %>
  <%= render "comments/form", pin: @pin, comment: Comment.new  %>
<% end %>

<%= turbo_stream_from "comments" %>

<%= turbo_frame_tag "comments" do %>
  <%= render @pin.comments, pin: @pin %>
<% end %>

<% if can? :manage, @pin %>
  <div>
    <%= link_to "Edit this pin", edit_pin_path(@pin) %>
    <%= button_to "Destroy this pin", @pin, method: :delete %>
  </div>
<% end%>
