<h1 style="color: blue"><%= post.class %></h1>

<%= form_with(model: post, url: url) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%#= form.text_field :type %>
    <%= form.select :type, [["Текстовый пост", "TextPost"], ["Пост с картинкой", "ImagePost"], ["Пост с видео", "VideoPost"], ["Ого фигма", "FigmaPost"]] %>
    <%#= form.select :type, ["TextPost", "ImagePost", "VideoPost", "FigmaPost"] %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :cover, style: "display: block" %>
    <%= form.text_field :cover %>
  </div>

  <div>
    <%= form.label :video, style: "display: block" %>
    <%= form.text_field :video %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
